{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mot_passe_utili</th>
                <th>Nom_utili</th>
                <th>Tel_utili</th>
                <th>Role</th>
                <th>Type</th>
                <th>Nbre_place</th>
                <th>Email</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.motPasseUtili }}</td>
                <td>{{ utilisateur.nomUtili }}</td>
                <td>{{ utilisateur.telUtili }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>{{ utilisateur.type }}</td>
                <td>{{ utilisateur.nbrePlace }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.image }}</td>
                <td>
                    <a href="{{ path('carte_fidelite_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('carte_fidelite_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('carte_fidelite_new') }}">Create new</a>
{% endblock %}
